html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editor {

  .editor__textarea {
    resize: none;
    width: 40em;
    height: 15em;
  }

}

.previewer {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  // width: 523px;
  max-width: 80%;
  height: auto;
}
